/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 @import '~antd/dist/antd.css';
 #root .layout{
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: 'Bozon';
  src: url('./fonts/Bozon-Regular.eot');
  src: local('Bozon Regular'), local('Bozon-Regular'),
      url('./fonts/Bozon-Regular.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Bozon-Regular.woff2') format('woff2'),
      url('./fonts/Bozon-Regular.woff') format('woff'),
      url('./fonts/Bozon-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
body {
  position: relative;
  color: white;
  height: 100vh;
  background: '#F8F8FF';
  font-family: 'Bozon';
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: transform ease-in 0.1s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}
.ant-input::placeholder {
  color: #a3a3a3;
  // text-align: center;
  padding: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}
.site-header{
  background: #FFFFFF !important;
  padding: 0 !important;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  margin-bottom: 2px;
}
.site-layout-side{
  background-color: #000852 !important;
  width: 90;
}
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub .ant-menu-item{
  background-color: #000852 !important;
}
.ant-menu-item-selected{
  background-color: #818CFC !important;
  border-radius: 20px;
}
.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.site-layout  {
  background: #F8F8FF !important;
}

.site-layout-background {
  background: #F8F8FF !important;
  // margin: 30px;
  margin-right: 5px;
  padding: 5%;
  padding-top: 2%;
  overflow-x: hidden;
  overflow-y:auto ;
}

.spacing-charts-index{
  margin: 35px 0px;
}

.flex-row{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000852;
  margin-right: -125px;
  border-radius: 10px;
}
.logo-header-holder{
  width: 100%;
}
.logo-header{
  width: 50%;
  height: auto;
  margin-left: 15px;
}
.link-holder{
  width: 15%;
}
.wallet-id{
  color: #000852;
  font-size: 15px;
  .ant-btn{
    border: none !important
  }

}
.custom-notification{
  background-color: #000852 !important;
  border-radius: 20px !important;
  color: white !important;
  font-size: 15px !important;
  .ant-notification-notice-message{
    color: white !important;
    font-size: 15px !important;
  }
  .anticon-close{
    color: #D9DDFF !important;
    font-size: 25px !important;
    font-weight: bold;
  }

  .ant-notification-close-icon{
    color: #D9DDFF !important;
    font-size: 25px !important;
    font-weight: bold;
  }
}
